# General
*.env
# Backend
backend/node_modules
backend/config/default.json
# Infrastructure
infrastructure/development.tfvars
infrastructure/.terraform
infrastructure/terraform.tfstate
infrastructure/terraform.tfstate.backup
# Tests
tests/node_modules