 /* Colors
 #7271F8 blue
 #7556E9 purple
 #F3F8FF hwite 
 */

.container {
  display: flex;
  border-radius: 7px;
  font-family: 'Raleway', sans-serif;
  margin-top: 20px;
}

.main {
  background-color: #F3F8FF;
  max-width: 700px;
  width: 100%;
  background: #F3F8FF;
  background: -webkit-linear-gradient(top, #F3F8FF, #F4F7FB);
  background: -moz-linear-gradient(top, #F3F8FF, #F4F7FB);
  background: linear-gradient(to bottom, #F3F8FF, #F4F7FB);
}

.navigation {
  width: 220px;
  display: flex;
  flex-direction: column;
  background: #7372F8;
  background: -webkit-linear-gradient(top, #7372F8, #7556E9);
  background: -moz-linear-gradient(top, #7372F8, #7556E9);
  background: linear-gradient(to bottom, #7372F8, #7556E9);
  color: #fff;
  box-shadow: 5px 0 15px 0px #7372F8;
  z-index: 2;
}


.nav-title {
  height: 75px;
  line-height: 75px;
  border-bottom: 2px solid #7b7af0;
  text-align: center;
}

.nav-links {
  overflow: hidden;
}

.nav-links a {
  color: #fff;
  text-decoration: none;  
  padding: 15px 25px;
  font-size: 0.9em;
  display: block;
  transition: 0.3s ease all;
}

.nav-links a:last-child {
  margin-bottom: 50px;
}

.nav-links a:hover {
  opacity: 0.8;
  text-decoration: none;
  color: #fff;
  background-color: #7556E9;
  box-shadow: 0px 0px 5px #7556E9;
}

.nav-links a i {
  padding-right: 15px;
  margin-left: 10px;
  width: 30px;
}

.main-subnav {
  height: 75px;
  line-height: 55px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 8px 20px 0px #c2c2c2;
  color: #A9AAEF;
  display: flex;
  justify-content: space-between;
}

.main-subnav-user {
  display: flex;
}

.main-subnav-user-icon {
  border-radius: 50%;
  overflow: hidden;
  width: 55px;
  height: 55px;
  text-align: center;
  background-color: #5bf5a6;
  margin-left: 10px;
}

.main-subnav-user-icon i {
  font-size: 1.5em;
  color: #fff;
}

.main-title {
  height: 45px;
  margin: 22px 22px 5px 22px;
  line-height: 45px;
  padding-left: 10px;
  font-weight: 600;
  font-size: 1.3em;
  color: #9F95D8;
}

.main-content {
  background-color: #fff;
  margin: 0px 22px 22px 22px;
  padding: 15px;
  font-size: 0.9em;
}